<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['/intro']">Introdução</a>
<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['/bind']">Data Binding</a>
<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['/diretivas']">Diretivas</a>
<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['/pipes']">Pipes</a>
<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['/ex3']">Exercício 3</a>
<hr>
<router-outlet></router-outlet>