<a href="#" (click)="active = 'intro'">Introdução</a>
<a href="#" (click)="active = 'bind'">Data Binding</a>
<a href="#" (click)="active = 'diretivas'">Diretivas</a>
<a href="#" (click)="active = 'servicos'">Serviços</a>
<a href="#" (click)="active = 'pipes'">Pipes</a>
<a href="#" (click)="active = 'rotas'">Rotas</a>
<a href="#" (click)="active = 'ex3'">Exercício 3</a>
<hr>
<app-introducao *ngIf="active == 'intro'"></app-introducao>
<app-bind *ngIf="active == 'bind'"></app-bind>
<app-diretivas  *ngIf="active == 'diretivas'"></app-diretivas>
<app-pipes *ngIf="active == 'pipes'"></app-pipes>
<app-exercicio3 *ngIf="active == 'ex3'"></app-exercicio3>
<app-rotas *ngIf="active == 'rotas'"></app-rotas>
<app-servicos *ngIf="active == 'servicos'"></app-servicos>
