<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['forms-template-driven-edit']">Template Driven</a>
<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['forms-template-driven-edit-validation']">Template Driven - Validation</a>
<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['forms-reactive-edit']">Reactive</a>
<a class="topico secundario" routerLinkActive="active-route" [routerLink]="['forms-reactive-edit-validation']">Reactive - Validation</a>
<hr>
<router-outlet></router-outlet>